@model Storeonline.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>CSS Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box;
            }

            img {
                display: block;
                width: 680px;
                height: 550px;
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            /* Container for flexboxes */
            section {
                margin-top: 50px;
                margin-bottom: 50px;
                display: flex;
                width: 100%;
            }

            /* Style the navigation menu */
            nav {
                width: 60%;
                background: #ccc;
                height: 550px;
            }

                nav ul {
                    list-style-type: none;
                    padding: 0;
                }

            /* Style the content */
            article {
                width: 35%;
                background-color: white;
                padding: 10px;
                padding-top: 80px;
            }

            .title-login {
                margin-top: 20px;
                text-align: center;
            }

            .tieudelogin {
                text-align: center;
            }

            .btn-login {
                text-align: center;
            }

            h4 {
                font-weight: bold;
            }

            button {
                padding: 5px 20px;
                border-radius: 20px;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border: none;
                background: #8AC007;
                color: #fff;
                cursor: pointer;
            }

            .btn-login {
                text-align: center;
            }

            input {
                padding: 5px 20px;
                border-radius: 20px;
            }

            .font-login {
                width: 100%;
            }

            .resetorregister {
                text-align: center;
                font-size: 13px;
            }

            a {
                color: #498ad0;
            }
        </style>
    </head>
    <body>
        <section class="font-login" >
            <article>
                <div class="tieudelogin">
                    <h4 style="color:black">ĐĂNG NHẬP</h4><br>
                </div>
                <input required="" type="text" value="" placeholder="Username" class="text form-control" aria-describedby="basic-addon1" name="Username" id="Username">
                <input required="" type="password" value="" placeholder="Password" class="text form-control" aria-describedby="basic-addon1" name="Password" id="Password">

                <div class="resetorregister">
                    <a href="#"><ins>Quên mật khẩu</ins></a> &nbsp; <a placeholder>or</a> &nbsp; <a href="@Url.Action("Signup","Users")"><ins>Đăng kí</ins></a>
                </div>
                <br>
                <div class="btn-login">
                    <button>ĐĂNG NHẬP</button>
                </div>
            </article>
        </section>
    </body>
</html>

}